<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My Bit</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="css/alertify.css" rel="stylesheet">
    <link href="css/alertify.default.css" rel="stylesheet">
    <link href="css/sweetalert.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body ng-controller="myCtrl" background="a.jpg">

        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="index.html">
                            Homepage
                        </a>
                    </li>
                    <li>
                        <a href="learn.html">What is Bitcoin?</a>
                    </li>
                    <li>
                        <a href="shop.html">Shop</a>
                    </li>
                    <li>
                        <a href="tickr.html">BitTickr</a>
                    </li>
                    <li>
                        <a href="pay.html">Settle Up/Pay</a>
                    </li>
                    <li>
                        <a href="balance.html">My Bit</a>
                    </li>
                    <li>
                        <a href="payBills.html">Pay Bills</a>
                    </li>
                    <li>
                        <a href="transactions.html">Transactions History</a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <a href="#menu-toggle" class="btn btn-info" id="menu-toggle">Toggle Menu</a>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-success" ng-click="getBalance()">Get Bit Balance</button>
                            <button class="btn btn-success" ng-click="getChartdata()">Get Chart Data</button>
                            <button class="btn btn-success" ng-click="getExchangeRates()">Get Exchange Rates</button>
                        </div>
                    </div>
                    <div class="row" ng-show="balanceShow==true">
                        <div class="col-lg-12">
                          <h2>The Balance is : {{balance}}</h2>
                            
                        </div>
                    </div>
                    <div class="row" ng-show="exchangeShow==true" style="font-size:18px;">
                        <div class="col-lg-12">
                           <div ng-repeat="x in keys track by $index">
                            <p>Country : {{x}}</p>
                            <p>15 minute interval value : {{values[$index].symbol}}{{values[$index]['15m']}}</p>
                            <p>Buying Value : {{values[$index].symbol}}{{values[$index].buy}}</p>
                            <p>Last Value : {{values[$index].symbol}}{{values[$index].last}}</p>
                            <p>Selling value : {{values[$index].symbol}}{{values[$index].sell}}</p>
                            <hr/>
                           </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/nanobar.min.js"></script>
        <script src="js/alertify.js"></script>
        <script src="js/sweetalert.min.js"></script>
        <script src="assets/js/balance.js"></script>
        <script src="assets/js/balance-angular.js"></script>
        <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        </script>

    </body>

    </html>
