<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Settle Up/Pay</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="css/alertify.css" rel="stylesheet">
    <link href="css/alertify.default.css" rel="stylesheet">
    <link href="css/sweetalert.css" rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body ng-controller="myCtrl" background="a.jpg">

        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="index.html">
                            Homepage
                        </a>
                    </li>
                    <li>
                        <a href="learn.html">What is Bitcoin?</a>
                    </li>
                    <li>
                        <a href="shop.html">Shop</a>
                    </li>
                    <li>
                        <a href="tickr.html">BitTickr</a>
                    </li>
                    <li>
                        <a href="pay.html">Settle Up/Pay</a>
                    </li>
                    <li>
                        <a href="balance.html">My Bit</a>
                    </li>
                    <li>
                        <a href="payBills.html">Pay Bills</a>
                    </li>
                    <li>
                        <a href="transactions.html">Transactions History</a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <a href="#menu-toggle" class="btn btn-info" id="menu-toggle">Toggle Menu</a>
                            <button class="btn btn-success" ng-click="prodOrder()">Complete Product Order</button>
                            <button class="btn btn-danger" ng-click="payFriend()">Pay a Friend</button>
                        </div>
                    </div>
                    <br>
                    <br>
                    
                    <div class="row jumbotron" ng-show="payData!='' && prd==true" style="font-size:18px;">
                        <div class="col-lg-4">
                           <img src="{{payData.galleryURL}}" style="height:300px;width:250px;border-radius:15px;">
                       </div>
                       <div class="col-lg-8">
                           <p>Product Name : {{payData.title}}</p>
                           <p>Price: {{payData.sellingStatus.currentPrice.USD}} USD</p>
                           <p>One Day Shipping Available : {{payData.shippingInfo.oneDayShippingAvailable}}</p>
                           <p>Shipping Type : {{payData.shippingInfo.shippingType}}</p>
                           <p>Shipping Cost : {{payData.shippingInfo.shippingServiceCost.USD}}</p>
                           <button class="btn btn-success" ng-click="payFlag()">Buy this Product</button>
                           <div class="checkbox" ng-show="paymentFlag=='1'">
                            <label>
                                <input type="checkbox" ng-click="paymentFlagfn()" > Single Payment
                            </label>
                            <label>
                                <input type="checkbox" ng-click="addRows()"> Split Payment
                            </label>
                        </div>
                        <div ng-show="addFlag=='1'">
                            <div>   
                                <form name="myForm1">
                                    <input type="email" class="" placeholder="Enter Recipient Email" ng-model="email1" required="true">
                                    <input type="number" class="" placeholder="Enter Split %" ng-model="percent1" max="100">               
                                    <button class="btn btn-success" ng-click="validate('1')" ng-show="email1!='' && percent1!=''  && myForm1.$valid" >Validate</button> 
                                </form>                
                            </div>
                            <br>
                            <div>   
                                <form name="myForm2">
                                    <input type="email" class="" placeholder="Enter Recipient Email" ng-model="email2" required="true">
                                    <input type="number" class="" placeholder="Enter Split %" ng-model="percent2">                      
                                    <button class="btn btn-success" ng-click="validate('2')" ng-show="email2!='' && percent2!='' && myForm2.$valid">Validate</button>     
                                </form>     
                            </div>
                            {{email2.$valid}}
                            <br>
                            <div>   
                                <form name="myForm3">
                                    <input type="email" class="" placeholder="Enter Recipient Email" ng-model="email3">
                                    <input type="number" class="" placeholder="Enter Split %" ng-model="percent3">              
                                    <button class="btn btn-success" ng-click="validate('3')" ng-show="email3!='' && percent3!=''  && myForm3.$valid">Validate</button>    
                                </form>
                            </div>
                        </div>
                        <br>
                        <button class="btn btn-success" ng-click="sendMail()" ng-show="addFlag=='1'">Send Payment Notification</button>
                        <button class="btn btn-success" ng-click="paypalPay()" ng-show="payFlag=='1'">Pay Using Card/Paypal</button>
                        <button class="btn btn-success" ng-click="bitCoinPay()" ng-show="payFlag=='1'">Pay Using Bit Coin</button>
                        <button class="btn btn-success" href="paymap.html" ng-show="payFlag=='1'">Pay Using Cash/ATM</button>
                        
                    </div>
                </div>
                <div class="row" ng-show="prf==true">
                    <div class="col-lg-12">
                        <input type="email" placeholder="Enter Recipients mail" ng-model="mail" class="form form-control">
                        <br>
                        <input type="number" placeholder="Enter Amount to be Transferred" ng-model="amount" class="form form-control">
                        <br>
                        <div>
                            <button class="btn btn-success" ng-click="payPaypal()" ng-show="mail!='' && amount!=''">Pay using Card/Paypal</button>

                            <button class="btn btn-success" ng-click="payBitcoin()" ng-show="mail!='' && amount!=''">Pay using BitCoin</button>
                            <a href="paymap.html"><button class="btn btn-success"  ng-show="mail!='' && amount!=''">Pay Using Cash/ATM</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/alertify.js"></script>      
    <script src="js/nanobar.min.js"></script>
    <script src="js/sweetalert.min.js"></script>
    
    <script src="assets/js/pay.js"></script>
    <script src="assets/js/pay-angular.js"></script>


    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
